@import "tailwindcss";

@theme {
  --color-white-user: #FFFFEB;
  --color-cream: #F9F9F1;
  --color-secondary: #33537a;
  --color-test: #33537AC7;
  --color-light: #DEF2F9;
  --color-badge: #69C2F4;
  --color-dark: #09082C;

  --font-text: Inter;
  --font-title: besley;
}

.nav-link {
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: none;
  transition: color 0.25s ease;
}

/* línea animada */
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  border-radius: 9999px;

  background: var(--color-badge);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

/* hover (solo desktop realmente) */
.nav-link:hover {
  color: var(--color-badge);
}

.nav-link:hover::after {
  transform: scaleX(1);
}

/* activo */
.nav-link.active {
  color: var(--color-badge);
  transform: scale(0.96);
}

.nav-link.active::after {
  transform: scaleX(1);
  animation: underlineIn 0.4s ease;
}

@keyframes underlineIn {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.active::before {
  content: url('/src/assets/gota.svg');
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}