@import "tailwindcss";

@theme {
  --color-white-user: #FFFFEB;
  --color-cream: #F9F9F1;
  --color-secondary: #33537a;
  --color-test: #33537AC7;
  --color-light: #DEF2F9;
  --color-badge: #69C2F4;
  --color-dark: #09082C;

  --font-text: Inter;
  --font-title: besley;
}