<section class="py-24 bg-blue-light">
    <div class="grid grid-cols-2 max-w-screen-xl mx-auto items-center justify-end">
        <img
            src="/src/assets/Botellon.webp"
            alt="Botellón de agua de agua natural de Llano"
            class="h-full w-full"
        />
        <p class="text-4xl/loose uppercase text-blue-dark font-semibold">
            el agua que bebes es vital <br> para mantener la

            <span class="relative inline-block">
                <span
                    class="absolute left-0 bottom-4 w-full h-4 bg-secondary z-0"
                >
                </span>
                <span class="relative z-10">salud de tu cuerpo</span>
            </span>
            <img src="/src/assets/arrow-down.svg" alt="flecha apuntando hacia abajo" class="h-40 mx-auto mt-10">
        </p>
    </div>
</section>
