---
import Logo from "./icons/Logo.astro"
---

<header class="h-[111.51px] px-20 py-4 font-medium text-xl bg-linear-to-b from-[#07458D] to-[#06519A]">
  <nav class="flex items-center justify-between h-full">
    <a>
      <Logo/>
    </a>
    <ul class="flex items-center gap-16">
      <li>
        <a class="text-white-user" href="#" >Home</a>
      </li>
      <li>
        <a class="text-white-user" href="#" >Nuestra agua</a>
      </li>
      <li>
        <a class="text-white-user" href="#" >Impacto</a>
      </li>
      <li>
        <a class="text-white-user" href="#" >Nosotros</a>
      </li>
      <li>
        <a class="px-7 py-3 border rounded-2xl text-white-user" href="#" >Contacto</a>
      </li>
    </ul>
  </nav>
</header>