---
---

<section class="grid bg-light">
  <img src="/src/assets/clouds.webp" alt="">
  <div class="grid grid-cols-2">
    <div class="pl-20 pb-20">
      <div class="flex flex-col items-center w-fit">

        <h1 class="py-36 text-secondary text-3xl/relaxed font-bold max-w-[30ch] font-title uppercase">
          El água que bebes es vital para mantener la salud de tu cuerpo</h1>
          <button class="ml-2.5 w-1/2 px-6 py-3 text-secondary border rounded-xl">Entre en contacto</button>
        </div>
    </div>
    <figure class="w-full">
      <img src="/src/assets/bottle.webp" alt="Botellón de agua natural del llano">
    </figure>
  </div>
</section>