<section class="grid grid-cols-2 py-24 w-full max-w-screen-xl mx-auto">
    <div class="flex flex-col gap-8 justify-evenly">
        <h1 class="text-6xl/relaxed font-normal text-blue-dark font-[Belgrano]">
            Naturalmente <br />
            <span class="relative inline-block">
                <span class="absolute left-0 bottom-5 w-full h-5 bg-secondary z-0">
                </span> 
                <span class="relative z-10">Llanera</span>
            </span>
        </h1>
        <p class="text-2xl/loose text-blue-dark">
            La única agua que le quita la sed al llanero <br />
            Cuida refresca y es 100% natural <br />
            <span class="font-bold">Hecha por nosotros y para nosotros</span>
        </p>
        <button
            class="place-self-start py-3.5 px-7 w-fit h-auto rounded-2xl bg-blue text-primary-light text-xl font-normal  hover:cursor-pointer hover:contrast-125 transition"
        >
            Compre ahora
        </button>
    </div>
    <img
        class="max-w-3xl justify-self-end"
        src="/src/assets/mujer-tomando-agua.webp"
        alt="Mujer tomando agua natural de Llano"
    />
</section>
