<section class="grid grid-cols-2 pt-36 w-full max-w-6xl mx-auto">
    <div class="flex flex-col gap-10 justify-around">
        <h1 class="text-6xl/relaxed font-normal text-blue-dark">
            Naturalmente <br> Llanera
        </h1>
        <p class="text-2xl/loose text-blue-dark">
            La única agua que le quita la sed al llanero <br/> 
            Cuida refresca y es 100% natural <br> 
            <span class="font-bold">Hecha por nosotros y para nosotros</span>
        </p>
        <button class="py-3.5 px-7 w-fit h-auto rounded-2xl bg-blue text-primary-light text-xl font-normal place-self-start hover:cursor-pointer">
            Compre ahora
        </button>
    </div>
    <img class="max-w-3xl justify-self-end" src="/src/assets/mujer-tomando-agua.webp" alt="Mujer tomando agua natural de Llano">
</section>
