---
import ArrowDown from './icons/ArrowDown.astro'
import Share from './icons/Share.astro'
import Car from './icons/Car.astro'
---

<section
  class="grid grid-cols-1 px-5 pt-[115px] max-w-7xl mx-auto md:pl-20 md:pr-0 lg:grid-cols-2"
  id="home">
  <div class="flex flex-col text-white-user">
    <h1
      class="font-title font-bold text-3xl/relaxed sm:text-5xl/relaxed md:text-6xl/relaxed">
      NATURALMENTE LLANERA
    </h1>
    <p
      class="pt-10 font-text font-medium text-xl text-pretty md:pt-20 sm:text-2xl/relaxed md:text-3xl/relaxed">
      La única agua que quita la sed del llanero, cuida, refresca y es 100%
      local
    </p>
    <h3
      class="pt-8 sm:py-8 font-text font-medium text-xl/relaxed sm:text-2xl/relaxed md:text-3xl/relaxed">
      Hecha por nosotros para nosotros
    </h3>
    <div class="flex items-center gap-44 py-10 md:pt-14">
      <a href="">
        <Share class="size-12 md:size-16" />
      </a>
      <a href="">
        <ArrowDown />
      </a>
    </div>
  </div>
  <figure class="lg:relative">
    <img
      class="w-full lg:absolute lg:right-0 lg:top-0 lg:mask-b-from-80% max-w-2xl xl:mask-r-from-95%"
      src="/src/assets/women.webp"
      alt="mujer tomando agua en un día caluroso"
    />
    <a
      class="fixed bottom-10 right-10 z-50 inline-flex items-center gap-2 px-8 py-4 rounded-3xl bg-white/90 text-[#001a55] text-xl/normal font-bold"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="comprar">
      <Car /> Comprar ahora</a
    >
  </figure>
</section>
