---
import ArrowDown from './icons/ArrowDown.astro'
import Share from './icons/Share.astro'
import Car from './icons/Car.astro'
---

<section class="grid grid-cols-2 pt-[115px] pl-20" id="home">
  <div class="flex flex-col text-white-user">
    <h1 class="font-title font-bold text-6xl/relaxed">NATURALMENTE LLANERA</h1>
    <p class="pt-20 font-text font-medium text-3xl/relaxed">
      La única agua que quita la sed del llanero, cuida, refresca y es 100%
      local
    </p>
    <h3 class="py-8 font-text font-medium text-3xl/relaxed">
      Hecha por nosotros para nosotros
    </h3>
    <div class="flex items-center gap-44 pt-14">
      <a href="">
        <Share />
      </a>
      <a href="">
        <ArrowDown />
      </a>
    </div>
  </div>
  <figure class="relative">
    <img
      class="absolute right-0 top-0 mask-b-from-80% max-w-2xl"
      src="/src/assets/women.webp"
      alt="mujer tomando agua en un día caluroso"
    />
    <a
      class="fixed bottom-10 right-10 z-50 inline-flex items-center gap-2 px-8 py-4 rounded-3xl bg-white/90 text-[#001a55] text-xl/normal font-bold"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="comprar">
      <Car /> Comprar ahora</a
    >
  </figure>
</section>
