---

---

<section class="grid bg-light">
  <img
    src="/src/assets/clouds.webp"
    class="w-[1440px]"
    alt=""
  />
  <div class="grid grid-cols-2">
    <div class="pl-20 pb-20">
      <div class="">
        <h1
          class="py-36 text-secondary text-3xl/relaxed font-bold max-w-[30ch] font-title uppercase">
          El água que bebes es vital para mantener la salud de tu cuerpo
        </h1>
        <button class="w-52 px-6 py-3 text-secondary border-2 rounded-xl"
          >Entre en contacto</button
        >
      </div>
    </div>
    <figure class="w-full">
      <img
        src="/src/assets/bottle.webp"
        alt="Botellón de agua natural del llano"
      />
    </figure>
  </div>
</section>
