---
import Picture from './Picture.astro'
---

<section class="bg-[#084991] pt-24">
  <div class="flex justify-between px-11">
    <h3 class="text-white-user font-title text-3xl font-semibold">
      Únete a nuestra comundidad
    </h3>
    <span class="text-white-user font-title text-2xl font-medium"
      >@del.llano.agua</span
    >
  </div>
  <p
    class="max-w-[429px] pl-11 pt-2.5 text-white-user font-text text-xl font-normal">
    Síguenos en instagram para descubrir novedades y sentirte más cerca del
    Llano
    <div class="flex
    justify-center py-23 gap-8">
      <Picture
        src="/src/assets/cup.webp"
        alt="vaso con agua natural del Llano"
      />
      <Picture
        src="/src/assets/people.webp"
        alt="Personas reunidas alrededor de un botellon de agua natural del Llano haciendo un brindis"
      />
      <Picture
        src="/src/assets/food.webp"
        alt="Mesa con comida típica del Llano y un botellon de agua natural del Llano"
      />
    </div>
  </p>
</section>
