---
import LogoDrop from './icons/LogoDrop.astro'
import Badge from './Badge.astro'
import Star from './icons/Star.astro'
import Heart from './icons/Heart.astro'
import Shield from './icons/Shield.astro'
import Drop from './icons/Drop.astro'
import Cards from './Cards.astro'
---

<section class="pb-8 bg-cream" id="ourWater">
  <div class="relative">
    <img
      class="absolute top-0 left-0 scale-40 origin-top-left sm:scale-50 lg:scale-75 xl:scale-100"
      src="/src/assets/left-tree.webp"
      alt=""
    />
    <img
      class="absolute top-0 right-0 scale-40 origin-top-right sm:scale-50 lg:scale-75 xl:scale-100"
      src="/src/assets/right-tree.webp"
      alt=""
    />
  </div>
  <div
    class="flex flex-col items-center px-5 py-16 justify-between max-w-7xl mx-auto">
    <LogoDrop class="size-14 sm:size-16 block mx-auto z-10" />
    <h1
      class="text-secondary text-3xl/relaxed font-bold font-title text-center tracking-wide py-7 z-10">
      NUESTRA AGUA
    </h1>
    <p
      class="pb-9 max-w-[30ch] text-center font-text font-medium text-2xl/relaxed text-test z-10">
      Agua proveniente de los manantiales naturales de los Llanos
    </p>
    <div class="flex gap-4 flex-wrap justify-center">
      <Badge><Star /> Belleza</Badge>
      <Badge><Heart /> Salud</Badge>
      <Badge><Shield /> Pureza</Badge>
      <Badge><Drop /> Natural</Badge>
    </div>
    <div class="grid grid-cols-2 grid-rows-2 text-center gap-x-6 pt-9 pb-12">
      <dd class="font-semibold font-text text-xl/relaxed">18.9</dd>
      <dd class="font-semibold font-text text-xl/relaxed">∞</dd>
      <dt class="text-test text-base/relaxed font-normal">Litros</dt>
      <dt class="text-test text-base/relaxed font-normal">Beneficios</dt>
    </div>
  </div>
  <div
    class="grid grid-cols-1 max-w-7xl md:grid-cols-[auto_1fr] mx-auto justify-items-center content-center">
    <figure class="max-w-105 pb-20 md:pb-0">
      <img
        class="w-full"
        src="../../public/bottle.webp"
        alt="botellón de agua natural del llano con los iones y moléculas que la componen"
      />
    </figure>
    <div class="flex flex-row flex-wrap gap-4 justify-center px-5">
      <Cards />
    </div>
  </div>
</section>
