---
import LogoDrop from "./icons/LogoDrop.astro";
---

<section class="relative">
  <img 
    class="absolute top-0 left-0" src="/src/assets/left-tree.webp" alt="" />
  <img
    class="absolute top-0 right-0"
    src="/src/assets/right-tree.webp"
    alt=""
  />
  <LogoDrop class="size-16 block mx-auto"/>
  <h1 
    class="text-secondary text-3xl font-bold font-title text-center">
    NUESTRA AGUA
  </h1>
  <p 
    class="text-center font-text font-medium text-2xl/relaxed">
    Agua proveniente de los manantiales naturales de los Llanos
  </p>
  <div></div>
  <div></div>
</section>
