<section class="relative h-80vh">
  <div
    class="h-[80vh] bg-[url('/public/mountains.webp')] bg-fixed bg-center bg-cover">
  </div>
  <div class="absolute h-[80vh] inset-0 bg-blue-900/40"></div>
</section>
