---
const { src, alt } = Astro.props
---

<figure class="relative w-94 h-full rounded-4xl">
  <img
    class="w-full object-cover rounded-4xl"
    src={src}
    alt={alt}
  />
  <div class="absolute inset-0 bg-black/40 rounded-4xl"></div>
</figure>
