---

---

<section class="bg-cream pb-16">
  <div class="relative">
    <img
      class="absolute top-0 left-0"
      src="/src/assets/left-we.webp"
      alt=""
    />
    <img
      class="absolute top-0 right-0"
      src="/src/assets/right-we.webp"
      alt=""
    />
  </div>
  <h1
    class="pt-48 text-center text-secondary text-3xl tracking-wide font-title font-bold">
    NOSOTROS
  </h1>
  <div class="flex justify-between w-6xl mt-16 mx-auto">
    <figure class="relative w-md">
      <img
        class="w-full rounded-3xl object-cover"
        src="/src/assets/working-man.webp"
        alt="Un hombre cargando un botellón de agua en el transporte de agua natural del llano"
      />
      <div class="absolute inset-0 bg-black/40 rounded-3xl"></div>
    </figure>
    <div class="max-w-lg">
      <h2
        class="mb-12 font-text text-2xl/relaxed tracking-wide font-semibold text-secondary">
        No giramos alrededor de una sola cara
      </h2>
      <p class="font-text text-xl/6 font-normal text-secondary">
        Del Llano es un trabajo compartido
      </p>
      <p class="font-text text-xl/6 font-normal text-secondary text-pretty">
        Personas que purifican el agua, preparan cada botellon, lo entregan y lo
        reciben de vuelta para que el ciclo continúe
      </p>
      <p
        class="font-text text-xl/6 font-normal text-secondary text-pretty mt-6">
        Más que un sistema, somos una comunidad de trabajo.
      </p>
      <p class="font-text text-xl/6 font-normal text-secondary text-pretty">
        Personas distintas, en distintos roles, conectadas por el ciudado, la
        constancia y el compromiso con lo que llega a cada hogar.
      </p>
      <p
        class="font-text text-xl/6 font-medium text-secondary text-pretty mt-6">
        La excelencia no está en una promesa, sino en lo cotidiano bien hecho.
      </p>
    </div>
  </div>
</section>
