---
import "./src/styles/global.css"
import '@fontsource-variable/inter'

const {title = "Agua Natural del Llano, naturalmente llanera"} = Astro.props
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html{
		font-family: font-family: 'Inter Variable', sans-serif;
		background-color: #FFFFEB;
	},
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
